@charset "UTF-8";

:root {
    --cor0: #ebeac5;
    --cor1: #cde183;
    --cor2: #c4eb6b;
    --cor3: #2fa866;
    --cor4: #0d793b;
    --cor5: #063d1e;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    
}





header {
    
    text-align: center;
    color: rgb(37, 9, 9);
    background-color: gray;
    padding-bottom: 0px 10px 0px 0px;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
}

header h1 {
    padding: 0px;
}

header p {

}

nav  {
background-color: #0d793b;
padding: 10px;
color: white;

}

nav > a {
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #c4eb6b;
    color:rgb(27, 10, 10)
    
}

main {
    background-color: #ebeac5;
    height: 100px;
    width: 1000px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;

}

main p {
    
}

footer {
    text-align: center;
    width: 980px;
    background-color: rgb(7, 44, 32);
    padding: 10px;
    margin: auto;
}

footer a {
padding-right: 10px;
color: white;
text-decoration: none;

}



